<div class='movableContent'>
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
        <tr>
            <td width="100%" colspan="2" style="padding-top:35px;">
                <hr style="height:1px;border:none;color:#333;background-color:#ddd;" />
            </td>
        </tr>
        <tr>
            <td width="60%" height="70" valign="middle" style="padding: 10px 25px;">
                <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable" >
                        <span style="font-size:13px;color:#181818;font-family:Helvetica, Arial, sans-serif;line-height:200%;">nsteamapp@gmail.com | nsteamapp@zoho.com | +420 739 936 234</span>
                        <br/>
                        <span style="font-size:11px;color:#555;font-family:Helvetica, Arial, sans-serif;line-height:200%;">This email has been sent from Northern Stars TeamApp beta</span>
                        <br/>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

</td>
</tr>
</table>

</td>
</tr>
</table>
</body>
</html>